@model WebApp.Models.CupomFiscalModel

@{
    ViewBag.Title = "Cadastrar Cupom Fiscal";
}

<div class="form-example-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="form-example-wrap mg-t-30">
                    <div class="row">
                        <div class="cmp-tb-hd cmp-int-hd">
                            <h3>Cadastrar Cupom Fiscal</h3>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <h2>Tabela selecionada:</h2>
                            </div>
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                <span>SDGP</span>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                <div>
                                    <input type="text" id="sgdp_escolhido" class="form-control input-sm" value="@Model.ValorSgdp" readonly>
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                <button class="btn btn-default btn-icon-notika" id="esscolher_tabela" onclick="location.href='@Url.Action("", "EscolherTabela")'">
                                    Trocar Tabela
                                </button>
                                <button class="btn btn-default btn-icon-notika" id="cadastrar_cupom_fiscal" onclick="location.href='@Url.Action("", "NotaFiscal", new { ValorSgdp = @Model.ValorSgdp })'">
                                    Cadastrar Nota Fiscal
                                </button>
                            </div>
                            <p></p>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="row">
                                    <span>Aten&ccedil;ão: Para o município </span>
                                    <span id: municipio></span><br />
                                    <span>a ANP fornece os dados para os seguinte(s) ano(s)/mes(ses)</span>
                                </div>
                                <div class="row">
                                    <span id="ano_meses"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="form-example-int form-horizental mg-t-15">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-4 col-md-3 col-sm-3 col-xs-12">
                                    <label class="hrzn-fm required">COO</label>
                                </div>
                                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                    <div class="nk-int-st autocomplete">
                                        <form autocomplete="off" action="/action_page.php">
                                            <input id="coo" type="text" class="form-control borderless-field">
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-example-int form-horizental mg-t-15">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-4 col-md-3 col-sm-3 col-xs-12">
                                    <label class="hrzn-fm">Número NF</label>
                                </div>
                                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                    <div class="nk-int-st autocomplete">
                                        <form autocomplete="off" action="/action_page.php">
                                            <input id="numero_nf" type="text" class="form-control borderless-field">
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-example-int form-horizental mg-t-15">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-4 col-md-3 col-sm-3 col-xs-12">
                                    <label class="hrzn-fm required">Data de Emissão</label>
                                </div>
                                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                    <div class="nk-int-st">
                                        <div class='input-group date' id='data_emissao'>
                                            <input type='text' class="form-control borderless-field" id="data_emissao_value" />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-example-int form-horizental mg-t-15">
                        <div class="form-group ">
                            <div class="row">
                                <div class="col-lg-4 col-md-3 col-sm-3 col-xs-12">
                                    <label class="hrzn-fm required">Combustível</label>
                                </div>
                                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                    <div>
                                        <select class="form-control" id="combustivel">
                                            <option value="ETANOL HIDRATADO">Etanol Hidratado</option>
                                            <option value="GASOLINA COMUM">Gasolina Comum</option>
                                            <option value="ÓLEO DIESEL">Óleo Diesel</option>
                                            <option value="ÓLEO DIESEL S10">Óleo Diesel S10</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-example-int form-horizental mg-t-15">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-4 col-md-3 col-sm-3 col-xs-12">
                                    <label class="hrzn-fm required">Quantidade</label>
                                </div>
                                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                    <div class="nk-int-st">
                                        <input type="text" id="quantidade" class="form-control borderless-field" min="0 ">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-example-int form-horizental mg-t-15">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-4 col-md-3 col-sm-3 col-xs-12">
                                    <label class="hrzn-fm required">Preço Unitário</label>
                                </div>
                                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                    <div class="nk-int-st">
                                        <input id="preco_unitario" type="text" class="form-control borderless-field" /> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-example-int form-horizental mg-t-15">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-4 col-md-3 col-sm-3 col-xs-12">
                                    <label class="hrzn-fm required">Valor Total</label>
                                </div>
                                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                    <div class="nk-int-st">
                                        <input class="form-control borderless-field" id="valor_total" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-example-int form-horizental mg-t-15">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-4 col-md-3 col-sm-3 col-xs-12">
                                    <label class="hrzn-fm">Veículo</label>
                                </div>
                                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                    <div class="nk-int-st">
                                        <input type="text" id="veiculo" class="form-control borderless-field" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-example-int form-horizental mg-t-15">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-4 col-md-3 col-sm-3 col-xs-12">
                                    <label class="hrzn-fm">Placa Veículo</label>
                                </div>
                                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                    <div class="nk-int-st">
                                        <input type="text" id="placa_veiculo" class="form-control borderless-field" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-example-int form-horizental mg-t-15">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-4 col-md-3 col-sm-3 col-xs-12">
                                    <label class="hrzn-fm">Hodômetro</label>
                                </div>
                                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                    <div class="nk-int-st">
                                        <input type="text" id="hodometro" class="form-control borderless-field" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <label class="hrzn-fm">* campos obrigatórios</label>
                    </div>
                    <div class="button-icon-btn">
                        <button class="btn btn-default btn-icon-notika" id="cadastrar-cupom-fiscal">
                            Enviar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section JavascriptPagina {
    <script defer type="text/javascript">
        var urlCadastrarCupomFiscal= '@Url.Action("Cadastrar", "CupomFiscal")';
    </script>
    <script defer type="text/javascript" src="~/Scripts/CupomFiscal/CupomFiscal.js"></script>
    <script defer type="text/javascript" src="~/Scripts/select-autocomplete.js"></script>
    <script defer type="text/javascript">
        window.precos = [];
        window.notasFiscais = [];
        window.coosNf = {};
        window.coos = [];

        @foreach(var nrNota in @Model.CuponsInfo.NotasFiscais)
        {
            @:window.notasFiscais.push('@nrNota');

        }
        @foreach(var precoUnitario in @Model.CuponsInfo.PrecosUnitarios)
        {
            @:window.precos.push(parseFloat('@precoUnitario').toFixed(3).replace('.', ','));
        }

        @foreach (var cupom in @Model.CuponsInfo.CuponsFiscais)
        {
            @:window.coos.push('@cupom.Coo');
            @:window.coosNf['@cupom.Coo'] = '@cupom.NumeroNotaFiscal';
        }

        $(document).ready(() => {
            insertAutocompleteFeatureInElement(document.getElementById("preco_unitario"), 'precos');
            insertAutocompleteFeatureInElement(document.getElementById("numero_nf"), 'notasFiscais');
            insertAutocompleteFeatureInElement(document.getElementById("coo"), 'coos');

            $("#coo").on("change paste input", (evt) => {
                const coo = $("#coo").val();
                $("#numero_nf").val(window.coosNf[coo]);
            });
        });
    </script>
}
