@model WebApp.Models.EscolherTabelaModel
@{
    ViewBag.Title = "Escolher Tabela";
}

<div class="mg-t-15">
    <div class="form-example-wrap">
        <div class="col-md-12">
            <h3>Escolher Tabela</h3>
        </div>
        <div class="col-md-12">
            <div class="form-example-int form-horizental">
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-4 col-md-3 col-sm-3 col-xs-12">
                            <label class="hrzn-fm">Número SGDP</label>
                        </div>
                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-11">
                            <div class="nk-int-st">
                                <select class="form-control" id="sgdp">

                                    @foreach (var tabela in Model.TabelasUsuario)
                                    {
                                        <option value="@tabela.SGDP">@tabela.SGDP</option>
                                    }

                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-example-int form-horizental">
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 margin-top-20" >
                            <button class="btn btn-default btn-icon-notika" id="cadastrar_nota_fiscal" onclick="location.href='@Url.Action("", "NotaFiscal")'">
                                Cadastrar Nota Fiscal
                            </button>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 margin-top-20">
                            <button class="btn btn-default btn-icon-notika" id="cadastrar_cupom_fiscal" onclick="location.href='@Url.Action("", "CupomFiscal")'">
                                Cadastrar Cupom Fiscal
                            </button>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 margin-top-20">
                            <button class="btn btn-default btn-icon-notika" id="visualizar_tabela">
                                Visualizar Tabela
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section JavascriptPagina {
    <script type="text/javascript">
        var urlRedirecionarVisualizarTabela = '@Url.Action("RedirecionarVisualizarTabela", "EscolherTabela")';
        var urlCarregarSGDPs = '@Url.Action("CarregarSGDPs", "EscolherTabela")';

    </script>
    <script src="~/Scripts/EscolherTabela/EscolherTabela.js"></script>

}
