@model WebApp.Models.ListarTabelasModel
@{
    ViewBag.Title = "Visualizar Tabela";
}
<div class="form-example-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="form-example-wrap mg-t-30">
                    <div class="cmp-tb-hd cmp-int-hd">
                        <h2>Visualizar Tabela</h2>
                    </div>
                    <div class="form-example-int form-horizental mg-t-15">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                                </div>
                                <div class="col-lg-1 col-md-1 col-sm-4 col-xs-4">
                                    <span>SGDP</span>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-8">
                                    <div>
                                        <input type="text" id="sgdp_escolhido" class="form-control input-sm" value="@Model.ValorSgdp" readonly>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                                    <button class="btn btn-default btn-icon-notika" id="exportar-excel">
                                        Exportar para Excel
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-example-int form-horizental mg-t-15">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-3 col-md-2 col-sm-1 col-xs-12">
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-3 col-xs-12">
                                    <span>Selecione a aba da tabela a ser exibida</span>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                                    <div class="bootstrap-select fm-cmp-mg" align="center">
                                        <select id="selecao-tipo-tabela" class="form-control selectpicker" data-live-search="true">
                                            <option value="nf-anp">NFs x ANP</option>
                                            <option value="cupom">Cupons Fiscais</option>
                                            <option value="outros">Outras informações</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-3 col-sm-4 col-xs-12">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@* A partir dessa linha deve-se escolher qual das tabelas abaixo serão exibidas a partir da combobox anterior. Se selecionado NFs x ANP, deve-se exibir o conteúdo dessa aba e assim sucessivamente *@
<div id="@Model.TabelaAnpXNota.SGDP" class="data-table-usuario data-table-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="data-table-list">
                    <div id="tabela-nf-anp" class="table-responsive">
                        @if (Model.TabelaAnpXNota != null && Model.TabelaAnpXNota.DadosAnpxNotaFiscal.Any())
                        {
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <p>
                                    <span id="export-titulo-1">@Model.TabelaAnpXNota.Titulo1</span>
                                </p>
                            </div>
                            @*TODO: estilizar*@
                            <div class="col-lg-3 col-md-3 col-sm-3">
                                <p><span class="font-weight-bold">SGDP: </span><span id="export-sgdp">@Model.TabelaAnpXNota.SGDP</span></p>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3">
                                <p><span class="font-weight-bold">Municipio: </span><span id="export-municipio">@(Model.TabelaAnpXNota.Municipio?.Nome ?? "-")</span></p>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3">
                                <p><span class="font-weight-bold">Municipio Ref. ANP: </span><span id="export-municipio-ref">@(Model.TabelaAnpXNota.MunicipioReferente?.Nome ?? "-")</span></p>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3">
                                <p><span class="font-weight-bold">Analista Responsável: </span><span id="export-analista">@Model.TabelaAnpXNota.AnalistaResponsavel</span></p>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3">
                                <p><span class="font-weight-bold">Data de geração: </span><span id="export-data-geracao">@Model.TabelaAnpXNota.DataGeracao.ToShortDateString()</span></p>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3">
                                <p><span class="font-weight-bold">Ano(s) referente(s): </span><span id="export-anos-referentes">@string.Join(" / ", Model.TabelaAnpXNota.AnosReferentes)</span></p>
                            </div>
                            <span id="export-mes-fam" style="display: none;">@(Model.TabelaAnpXNota.DadosAnpxNotaFiscal.FirstOrDefault()?.MesFam ?? 0)</span>
                            <span id="export-ano-fam" style="display: none;">@(Model.TabelaAnpXNota.DadosAnpxNotaFiscal.FirstOrDefault()?.AnoFam ?? 0)</span>

                        }

                        <table id="data-table-nf-anp" class="table table-striped">
                            <thead>
                                @* Tabela a ser exibida quando o usuário selecionar NFs x ANP na combobox *@
                                <tr>
                                    <th>DATA</th>
                                    <th>NOTA FISCAL</th>
                                    <th>COMBUSTÍVEL</th>
                                    <th>QDE.</th>
                                    <th>VALOR UNIT.</th>
                                    <th>VALOR TOTAL</th>
                                    <th>VALOR TOTAL DA NOTA</th>
                                    <th>NUM. FOLHA</th>
                                    <th>VALOR FAM</th>
                                    <th>PREÇO MED. ANP</th>
                                    <th>DIFERENÇA MED. UNIT.</th>
                                    <th>DIFERENÇA MED TOTAL</th>
                                    <th>VALOR MED ATUALIZADO</th>
                                    <th>PREÇO MAX ANP</th>
                                    <th>DIFERENÇA MAX UNIT.</th>
                                    <th>DIFERENÇA MAX TOTAL</th>
                                    <th>VALOR MAX ATUALIZADO</th>
                                    <th>CUPONS FISCAIS VINCULADOS</th>
                                    <th>MES/ANO PROCURADO NA ANP</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var dadosAnpxNota in Model.TabelaAnpXNota.DadosAnpxNotaFiscal)
                                {
                                    <tr>
                                        <td>@dadosAnpxNota.DataGeracao.ToShortDateString()</td>
                                        <td>@dadosAnpxNota.NumeroNotaFiscal</td>
                                        <td>@dadosAnpxNota.Produto</td>
                                        <td>@dadosAnpxNota.Quantidade</td>
                                        <td>@dadosAnpxNota.ValorUnitario.ToString("0.000")</td>
                                        <td>@dadosAnpxNota.ValorTotalItem.ToString("0.000")</td>
                                        <td>@dadosAnpxNota.ValorTotalNota.ToString("0.000")</td>
                                        <td>@dadosAnpxNota.NumeroFolha</td>
                                        <td>@dadosAnpxNota.ValorFam.ToString("0.0000000")</td>
                                        <td>@dadosAnpxNota.PrecoMedioAnp.ToString("0.000")</td>

                                        @if (dadosAnpxNota.DiferencaMediaUnitaria <= 0)
                                        {
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                        }
                                        else
                                        {
                                            <td>@dadosAnpxNota.DiferencaMediaUnitaria.ToString("0.000")</td>
                                            <td class="yellow">@dadosAnpxNota.DiferencaMediaTotal.ToString("0.000")</td>
                                            <td class="yellow">@Math.Round(dadosAnpxNota.ValorMedioAtualizado, 3).ToString("0.000")</td>
                                        }

                                        <td>@dadosAnpxNota.PrecoMaximoAnp.ToString("0.000")</td>

                                        @if (dadosAnpxNota.DiferencaMaximaUnitaria <= 0)
                                        {
                                            <td>-</td>
                                            <td>-</td>
                                            <td>-</td>
                                        }
                                        else
                                        {
                                            <td>@dadosAnpxNota.DiferencaMaximaUnitaria.ToString("0.000")</td>
                                            <td class="red">@dadosAnpxNota.DiferencaMaximaTotal.ToString("0.000")</td>
                                            <td class="red">@Math.Round(dadosAnpxNota.ValorMaximoAtualizado, 3).ToString("0.000")</td>
                                        }

                                        <td>@(string.Join(";", dadosAnpxNota.CuponsFiscaisVinculados.ToArray()))</td>
                                        <td>@dadosAnpxNota.MesAnp/@dadosAnpxNota.AnoAnp</td>
                                    </tr>
                                }
                            </tbody>
                            @*<tfoot>
                                    <tr>
                                        <th>DATA</th>
                                        <th>NOTA FISCAL</th>
                                        <th>COMBUSTÍVEL</th>
                                        <th>QDE.</th>
                                        <th>VALOR UNIT.</th>
                                        <th>VALOR TOTAL</th>
                                        <th>NUM. FOLHA</th>
                                        <th>FAM MES/ANO</th>
                                        @*Nessa linha o mês ano deve ser substituído de acordo com o dado da tabela de excel gerada
                                        <th>PREÇO MED. ANP</th>
                                        <th>DIFERENÇA MED. UNIT.</th>
                                        <th>DIFERENÇA MED TOTAL</th>
                                        <th>VALOR MED ATUALIZADO</th>
                                        <th>PREÇO MAX ANP</th>
                                        <th>DIFERENÇA MAX UNIT.</th>
                                        <th>DIFERENÇA MAX TOTAL</th>
                                        <th>VALOR MAX ATUALIZADO</th>
                                        <th>CUPONS FISCAIS VINCULADOS</th>
                                        <th>MES/ANO PROCURADO NA ANP</th>
                                    </tr>
                                </tfoot>*@
                        </table>
                    </div>
                    <div id="tabela-cupom" class="table-responsive">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <p>
                                <span id="export-titulo-2">@Model.TabelaAnpXNota.Titulo2</span>
                            </p>
                        </div>
                        <table id="data-table-cupom" class="table table-striped">
                            <thead>
                                @* Tabela a ser exibida quando o usuário selecionar Cupons Fiscais na combobox *@
                                <tr>
                                    <th>NUM. NF REFERENTE</th>
                                    <th>DATA</th>
                                    <th>HORÁRIO</th>
                                    <th>COO</th>
                                    <th>COMBUSTÍVEL</th>
                                    <th> QUANT.</th>
                                    <th>PREÇO UNIT.</th>
                                    <th>VALOR TOTAL</th>
                                    <th>VEÍCULO</th>
                                    <th>PLACA VEÍCULO</th>
                                    <th>HODÔMETRO</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var cupomFiscal in Model.TabelaCuponsFicais)
                                {
                                <tr>
                                    <td>@cupomFiscal.NumeroNotaFiscal</td>
                                    <td>@(cupomFiscal.DataEmissao == null ? "-" : cupomFiscal.DataEmissao.Value.ToShortDateString())</td>
                                    <td>@(cupomFiscal.DataEmissao == null ? "-" : cupomFiscal.DataEmissao.Value.ToShortTimeString())</td>
                                    <td>@cupomFiscal.Coo</td>
                                    <td>@cupomFiscal.Produto</td>
                                    <td>@cupomFiscal.Quantidade</td>
                                    <td>@cupomFiscal.PrecoUnitario.ToString("0.000")</td>
                                    <td>@cupomFiscal.ValorTotal.ToString("0.000")</td>
                                    <td>@cupomFiscal.Veiculo</td>
                                    @if (cupomFiscal.PlacaVeiculo != null)
                                    {
                                        <td>@cupomFiscal.PlacaVeiculo.Substring(0, 3).ToUpper()-@cupomFiscal.PlacaVeiculo.Substring(3, 4)</td>
                                    }
                                    else
                                    {
                                        <td>@cupomFiscal.PlacaVeiculo</td>
                                    }
                                    <td>@cupomFiscal.Hodometro</td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div id="tabela-outros" class="table-responsive">
                        @if (Model.TabelaOutrasInformacoes != null && Model.TabelaOutrasInformacoes.OutrasInformacoes.Any())
                        {
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <p>
                                    <span id="export-titulo-3">@Model.TabelaAnpXNota.Titulo3</span>
                                </p>
                            </div>
                            @*TODO: estilizar*@
                            <div class="col-lg-3 col-md-3 col-sm-3">
                                <p><span class="font-weight-bold">SGDP: </span><span id="out-export-sgdp">@Model.TabelaOutrasInformacoes.SGDP</span></p>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3">
                                <p><span class="font-weight-bold">Municipio: </span><span id="out-export-municipio">@(Model.TabelaOutrasInformacoes.Municipio?.Nome ?? "-")</span></p>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3">
                                <p><span class="font-weight-bold">Municipio Ref. ANP: </span><span id="out-export-municipio-ref">@(Model.TabelaOutrasInformacoes.MunicipioReferente?.Nome ?? "-")</span></p>
                            </div>
                        }
                        <table id="data-table-outros" class="table table-striped">
                            <thead>
                                @* Tabela a ser exibida quando o usuário selecionar Outras informações na combobox *@
                                <tr>
                                    <th>NUM. NF REFERENTE</th>
                                    <th>COOs VINCULADOS</th>
                                    <th>DEPARTAMENTO</th>
                                    <th>VEÍCULO</th>
                                    <th>PLACA VEÍCULO</th>
                                    <th>COMBUSTÍVEL</th>
                                    <th>VALOR TOTAL NOTA FISCAL</th>
                                    <th>DIFERENÇA MED. TOTAL NF</th>
                                    <th>VALOR MED. ATUALIZADO NF</th>
                                    <th>DIFERENÇA MAX. TOTAL NF</th>
                                    <th>VALOR MAX. ATUALIZADO NF</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var dados in Model.TabelaOutrasInformacoes.OutrasInformacoes)
                                {
                                <tr>
                                    <td>@dados.NumeroNotaFiscal</td>
                                    <td>@(string.Join(";", dados.CuponsFiscaisVinculados.ToArray()))</td>
                                    <td>@dados.NomeDepartamento</td>
                                    <td>@dados.Veiculo</td>
                                    @if (dados.PlacaVeiculo != null)
                                    {
                                        <td>@dados.PlacaVeiculo.Substring(0, 3).ToUpper()-@dados.PlacaVeiculo.Substring(3, 4)</td>
                                    }
                                    else
                                    {
                                        <td>@dados.PlacaVeiculo</td>
                                    }
                                    <td>@dados.Produto</td>
                                    <td>@dados.ValorTotalNota.ToString("0.000")</td>


                                    @if (dados.DiferencaMediaUnitaria <= 0)
                                    {
                                        <td>-</td>
                                        <td>-</td>
                                    }
                                    else
                                    {
                                        <td class="yellow">@dados.DiferencaMediaTotal.ToString("0.000")</td>
                                        <td class="yellow">@Math.Round(dados.ValorMedioAtualizado, 3).ToString("0.000")</td>
                                    }

                                    @if (dados.DiferencaMaximaUnitaria <= 0)
                                    {
                                        <td>-</td>
                                        <td>-</td>
                                    }
                                    else
                                    {
                                        <td class="red">@dados.DiferencaMaximaTotal.ToString("0.000")</td>
                                        <td class="red">@Math.Round(dados.ValorMaximoAtualizado, 3).ToString("0.000")</td>
                                    }
                                </tr>
                                }
                            </tbody>
                            @*<tfoot>
                                    <tr>
                                        <th>NUM. NF REFERENTE</th>
                                        <th>COOs VINCULADOS</th>
                                        <th>DEPARTAMENTO</th>
                                        <th>VEÍCULO</th>
                                        <th>PLACA VEÍCULO</th>
                                        <th>COMBUSTÍVEL</th>
                                        <th>VALOR TOTAL CUPOM FISCAL</th>
                                        <th>DIFERENÇA  MED TOTAL NF</th>
                                        <th>VALOR MED ATUALIZADO NF</th>
                                        <th>DIFERENÇA MAX TOTAL NF</th>
                                        <th>VALOR MAX ATUALIZADO NF</th>
                                    </tr>
                                </tfoot>*@
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Data Table area End-->

@section JavascriptPagina {

    <script type="text/javascript" src="~/Scripts/TabelaUsuario/listarTabela.js"></script>

    <script type="text/javascript">
            var exportarTabelasParaExcel = '@Url.Action("ExportarTabelasParaExcel", "TabelaUsuario")';
            var efetuarDownloadExcel = '@Url.Action("FazerDownloadDeExcel", "TabelaUsuario")';
    </script>

    <!-- End Footer area-->
    <!-- wow JS
    ============================================ -->
    <script src="~/Scripts/wow.min.js"></script>
    <!-- price-slider JS
    ============================================ -->
    <script src="~/Scripts/jquery-price-slider.js"></script>
    <!-- owl.carousel JS
    ============================================ -->
    <script src="~/Scripts/owl.carousel.min.js"></script>
    <!-- scrollUp JS
    ============================================ -->
    <script src="~/Scripts/jquery.scrollUp.min.js"></script>
    <!-- meanmenu JS
    ============================================ -->
    <script src="~/Scripts/externo/meanmenu/jquery.meanmenu.js"></script>
    <!-- counterup JS
    ============================================ -->
    <script src="~/Scripts/externo/counterup/jquery.counterup.min.js"></script>
    <script src="~/Scripts/externo/counterup/waypoints.min.js"></script>
    <script src="~/Scripts/externo/counterup/counterup-active.js"></script>
    <!-- mCustomScrollbar JS
    ============================================ -->
    <script src="~/Scripts/externo/scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <!-- sparkline JS
    ============================================ -->
    <script src="~/Scripts/externo/sparkline/jquery.sparkline.min.js"></script>
    <script src="~/Scripts/externo/sparkline/sparkline-active.js"></script>
    <!-- flot JS
    ============================================ -->
    <script src="~/Scripts/externo/flot/jquery.flot.js"></script>
    <script src="~/Scripts/externo/flot/jquery.flot.resize.js"></script>
    <script src="~/Scripts/externo/flot/flot-active.js"></script>
    <!-- knob JS
    ============================================ -->
    <script src="~/Scripts/externo/knob/jquery.knob.js"></script>
    <script src="~/Scripts/externo/knob/jquery.appear.js"></script>
    <script src="~/Scripts/externo/knob/knob-active.js"></script>
    <!--  Chat JS
    ============================================ -->
    <script src="~/Scripts/externo/chat/jquery.chat.js"></script>
    <!--  todo JS
    ============================================ -->
    <script src="~/Scripts/externo/todo/jquery.todo.js"></script>
    <!--  wave JS
    ============================================ -->
    <script src="~/Scripts/externo/wave/waves.min.js"></script>
    <script src="~/Scripts/externo/wave/wave-active.js"></script>
    <!-- Data Table JS
    ============================================ -->
    <script src="~/Scripts/externo/data-table/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/externo/data-table/data-table-act.js"></script>
    <!-- main JS
    ============================================ -->
    <script src="~/Scripts/main.js"></script>
}
