@model WebApp.Models.NotaFiscalModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Cadastrar Nota Fiscal";
}

<div class="form-example-area">
    <div class="container">
        <div class="row ">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="form-example-wrap mg-t-30">
                    <div class="row">
                        <div class="cmp-tb-hd cmp-int-hd">
                            <h3>Cadastrar Nota Fiscal</h3>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <h2>Tabela selecionada:</h2>
                            </div>
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                <span>SDGP</span>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                <div>
                                    <input type="text" id="sgdp_escolhido" class="form-control input-sm" value="@Model.ValorSgdp" readonly>
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                <button class="btn btn-default btn-icon-notika" id="esscolher_tabela" onclick="location.href='@Url.Action("", "EscolherTabela")'">
                                    Trocar Tabela
                                </button>
                                <button class="btn btn-default btn-icon-notika" id="cadastrar_cupom_fiscal" onclick="location.href='@Url.Action("", "CupomFiscal", new { ValorSgdp = @Model.ValorSgdp })'">
                                    Cadastrar Cupom Fiscal
                                </button>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="form-example-int form-horizental mg-t-15">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-4 col-md-3 col-sm-3 col-xs-12">
                                    <label class="hrzn-fm required">Número da NF</label>
                                </div>
                                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                    <div class="nk-int-st">
                                        <input type="text" id="numero_nf" class="form-control borderless-field" maxlength="15" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-example-int form-horizental mg-t-15">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-4 col-md-3 col-sm-3 col-xs-12">
                                    <label class="hrzn-fm required">Data de Emissão</label>
                                </div>
                                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                    <div class="nk-int-st">
                                        <div class='input-group date' id='data_emissao'>
                                            <input type='text' class="form-control borderless-field" id="data_emissao_value" />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-example-int form-horizental mg-t-15">
                        <div class="form-group ">
                            <div class="row">
                                <div class="col-lg-3 col-md-1 col-sm-0 col-xs-0">
                                </div>
                                <div class="col-lg-2 col-md-3 col-sm-3 col-xs-3">
                                    <label style="text-align:left" class="hrzn-fm required">Combustível</label>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
                                    <label style="text-align:left" class="hrzn-fm required">Quantidade</label>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
                                    <label style="text-align:left" class="hrzn-fm required">Preço Unitário</label>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
                                    <label style="text-align:left" class="hrzn-fm required">Valor Total</label>
                                </div>
                                <div class="row">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-example-int form-horizental mg-t-15">
                            <div class="form-group ">
                                <div class="col-lg-3 col-md-1 col-sm-0 col-xs-0">
                                </div>
                                <div class="col-lg-2 col-md-3 col-sm-3 col-xs-3">
                                    <div>
                                        <select class="form-control" id="combustivel1">
                                            <option value="ETANOL HIDRATADO">Etanol Hidratado</option>
                                            <option value="GASOLINA COMUM">Gasolina Comum</option>
                                            <option value="ÓLEO DIESEL">Óleo Diesel</option>
                                            <option value="ÓLEO DIESEL S10">Óleo Diesel S10</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-example-int form-horizental mg-t-15">
                            <div class="form-group">
                                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
                                    <div class="nk-int-st">
                                        <input type="number" id="quantidade1" class="form-control borderless-field item-field">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-example-int form-horizental mg-t-15">
                            <div class="form-group">
                                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
                                    <div class="nk-int-st autocomplete">
                                        <form autocomplete="off" action="">
                                            <input id="preco_unitario1" class="form-control borderless-field item-field">
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-example-int form-horizental mg-t-15">
                            <div class="form-group">
                                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
                                    <div class="nk-int-st">
                                        <input class="form-control borderless-field item-field" id="valor_total1" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-example-int form-horizental mg-t-15">
                            <div class="form-group ">
                                <div class="col-lg-3 col-md-1 col-sm-0 col-xs-0">
                                </div>
                                <div class="col-lg-2 col-md-3 col-sm-3 col-xs-3">
                                    <div>
                                        <select class="form-control" id="combustivel2">
                                            <option value="ETANOL HIDRATADO">Etanol Hidratado</option>
                                            <option value="GASOLINA COMUM">Gasolina Comum</option>
                                            <option value="ÓLEO DIESEL">Óleo Diesel</option>
                                            <option value="ÓLEO DIESEL S10">Óleo Diesel S10</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-example-int form-horizental mg-t-15">
                            <div class="form-group">
                                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
                                    <div class="nk-int-st">
                                        <input type="number" id="quantidade2" class="form-control borderless-field item-field">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-example-int form-horizental mg-t-15">
                            <div class="form-group">
                                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
                                    <div class="nk-int-st autocomplete">
                                        <form autocomplete="off" action="">
                                            <input id="preco_unitario2" class="form-control borderless-field item-field">
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-example-int form-horizental mg-t-15">
                            <div class="form-group">
                                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
                                    <div class="nk-int-st">
                                        <input class="form-control borderless-field item-field" id="valor_total2" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-example-int form-horizental mg-t-15">
                            <div class="form-group ">
                                <div class="col-lg-3 col-md-1 col-sm-0 col-xs-0">
                                </div>
                                <div class="col-lg-2 col-md-3 col-sm-3 col-xs-3">
                                    <div>
                                        <select class="form-control" id="combustivel3">
                                            <option value="ETANOL HIDRATADO">Etanol Hidratado</option>
                                            <option value="GASOLINA COMUM">Gasolina Comum</option>
                                            <option value="ÓLEO DIESEL">Óleo Diesel</option>
                                            <option value="ÓLEO DIESEL S10">Óleo Diesel S10</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-example-int form-horizental mg-t-15">
                            <div class="form-group">
                                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
                                    <div class="nk-int-st">
                                        <input type="number" id="quantidade3" class="form-control borderless-field item-field">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-example-int form-horizental mg-t-15">
                            <div class="form-group">
                                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
                                    <div class="nk-int-st autocomplete">
                                        <form autocomplete="off" action="">
                                            <input id="preco_unitario3" class="form-control borderless-field item-field">
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-example-int form-horizental mg-t-15">
                            <div class="form-group">
                                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
                                    <div class="nk-int-st">
                                        <input class="form-control borderless-field item-field" id="valor_total3" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-example-int form-horizental mg-t-15">
                            <div class="form-group ">
                                <div class="col-lg-3 col-md-1 col-sm-0 col-xs-0">
                                </div>
                                <div class="col-lg-2 col-md-3 col-sm-3 col-xs-3">
                                    <div>
                                        <select class="form-control" id="combustivel4">
                                            <option value="ETANOL HIDRATADO">Etanol Hidratado</option>
                                            <option value="GASOLINA COMUM">Gasolina Comum</option>
                                            <option value="ÓLEO DIESEL">Óleo Diesel</option>
                                            <option value="ÓLEO DIESEL S10">Óleo Diesel S10</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-example-int form-horizental mg-t-15">
                            <div class="form-group">
                                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
                                    <div class="nk-int-st">
                                        <input type="number" id="quantidade4" class="form-control borderless-field item-field">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-example-int form-horizental mg-t-15">
                            <div class="form-group">
                                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
                                    <div class="nk-int-st autocomplete">
                                        <form autocomplete="off" action="">
                                            <input id="preco_unitario4" class="form-control borderless-field item-field">
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-example-int form-horizental mg-t-15">
                            <div class="form-group">
                                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
                                    <div class="nk-int-st">
                                        <input class="form-control borderless-field item-field" id="valor_total4" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-example-int form-horizental mg-t-15">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-4 col-md-3 col-sm-3 col-xs-12">
                                    <label class="hrzn-fm required">Valor Total da NF</label>
                                </div>
                                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                    <div class="nk-int-st">
                                        <input id="valor_total_nf" class="form-control borderless-field item-field" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-example-int form-horizental mg-t-15">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-4 col-md-3 col-sm-3 col-xs-12">
                                    <label class="hrzn-fm">Cupons Vinculados</label>
                                </div>
                                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12" style="text-align:left; font-size:13px; color:gray">
                                    <p>
                                        Digite o COO de cada Cupom Fiscal e clique em Adicionar. <br>
                                        Caso o COO já exista e não há uma Nota Fiscal vinculada a ele, apenas selecione e clique em Adicionar.
                                    </p>
                                </div>
                                <div class="col-lg-4 col-md-3 col-sm-3 col-xs-12">
                                </div>
                                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2">
                                    <label class="hrzn-fm">COO</label>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                                    <div class="nk-int-st autocomplete">
                                        <form autocomplete="off" action="">
                                            <input id="coo_add" type="text" class="form-control borderless-field">
                                        </form>
                                    </div>
                                </div>
                                <div class="col-lg-1 col-md-2 col-sm-2 col-xs-3">
                                    <button class="btn btn-default btn-icon-notika" id="adicionar_cupom" type="button">
                                        Adicionar
                                    </button>
                                    <p></p>
                                </div>
                                <div class="col-lg-4 col-md-3 col-sm-3 col-xs-12">
                                </div>
                                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                    <textarea class="form-control borderless-field textarea" id="cupons_selecionados"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-example-int form-horizental mg-t-15">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-4 col-md-3 col-sm-3 col-xs-12">
                                    <label class="hrzn-fm">Número Folha</label>
                                </div>
                                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                    <div class="nk-int-st">
                                        <input type="text" id="num_folha" class="form-control borderless-field" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-example-int form-horizental mg-t-15">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-4 col-md-3 col-sm-3 col-xs-12">
                                    <label class="hrzn-fm required">Mês/Ano para consulta ANP</label>
                                </div>
                                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12" style="text-align:left; font-size:13px; color:gray">
                                    <!--<p>
                                            <b>Atenção:</b> caso este campo seja enviado em branco, será considerado o mês/ano da data de
                                             emissão para consultar a Tabela da ANP. <br>
                                            (MM/AAAA)
                                    </p>-->
                                </div>
                                <div class="col-lg-4 col-md-3 col-sm-3 col-xs-12">
                                </div>
                                <div class="col-lg-7 col-md-7 col-sm-3 col-xs-12">
                                    <div class="nk-int-st">
                                        <select class="form-control" id="data_consulta_anp">
                                            @foreach (var dtANP in Model.MesesANP)
                                            {
                                                <option value="@dtANP">@dtANP</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-3 col-sm-3 col-xs-12">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-example-int form-horizental mg-t-15">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-4 col-md-3 col-sm-3 col-xs-12">
                                    <label class="hrzn-fm">Departamento</label>
                                </div>
                                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                    <div>
                                        <select class="form-control" id="departamento">
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-example-int form-horizental mg-t-15">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-4 col-md-3 col-sm-3 col-xs-12">
                                    <label class="hrzn-fm">Veículo</label>
                                </div>
                                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                    <div class="nk-int-st">
                                        <input type="text" id="veiculo" class="form-control borderless-field" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-example-int form-horizental mg-t-15">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-4 col-md-3 col-sm-3 col-xs-12">
                                    <label class="hrzn-fm">Placa Veículo</label>
                                </div>
                                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                    <div class="nk-int-st">
                                        <input type="text" id="placa_veiculo" class="form-control borderless-field" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <label class="hrzn-fm">* campos obrigatórios</label>
                    </div>
                    <div class="button-icon-btn">
                        <button class="btn btn-default btn-icon-notika" id="cadastrar-nota-fiscal">
                            Enviar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section JavascriptPagina {
    <script type="text/javascript">
        var urlCadastrarNotaFiscal = '@Url.Action("Cadastrar", "NotaFiscal")';
        var urlObterDepartamentos  = '@Url.Action("ListarDepartamentos", "NotaFiscal")';
        var urlObterSugestoesCOO   = '@Url.Action("ListarCupons", "NotaFiscal")';
    </script>
    <script defer type="text/javascript" src="~/Scripts/NotaFiscal/NotaFiscal.js"></script>
    <script defer type="text/javascript" src="~/Scripts/select-autocomplete.js"></script>
    <script defer type="text/javascript">
        window.precos = [];

        @foreach (var preco in @Model.Precos)
        {
            @:window.precos.push(parseFloat('@preco'.replace(',', '.')).toFixed(3).replace('.', ','));
        }
        
        $(document).ready(() => {
            insertAutocompleteFeatureInElement(document.getElementById("preco_unitario1"), 'precos');
            insertAutocompleteFeatureInElement(document.getElementById("preco_unitario2"), 'precos');
            insertAutocompleteFeatureInElement(document.getElementById("preco_unitario3"), 'precos');
            insertAutocompleteFeatureInElement(document.getElementById("preco_unitario4"), 'precos');
        });
     </script>
}